@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

body {
    font-family: 'Kiwi Maru', serif;
    font-size: small;
    background-color: #F6F3EE;
    color: #453B3B;
    text-align: center;
    padding: 20px;
}
.request-whole {
    border: 3px solid #AA68C7;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #F6F3EE;
    filter: drop-shadow(0px 2px 0.5px rgba(184, 184, 184, 0.9));
}
.first {
    display: flex;
}
.first .left {
    padding-right: 10px;
}
.first .right {
    margin: 0 auto;
    font-size: medium;
}
.second {
    text-align: right;
}
.third {
    margin: 20px 0;
}
.third img {
    width: 80%;
    border-radius: 20px;
}
.forth {
    display: flex;
    font-size: medium;
}
.forth .niconico {
    margin: 0 auto;
}
.forth .niconico * {
    display: flex;
    margin: 0 auto;
}
.forth .niconico div * {
    margin: 0 5px;
}
.forth .niconico div div {
    margin: auto 0;
}
.text_pa {
    color: #FD689E;
}
.text_su {
    color: #53C5DE;
}
.text_mu {
    color: #7ECD1A;
}
.text_so {
    color: #FF95E1;
}
.fifth {
    margin: 20px 0;
}
.judge-buttons {
    display: flex;
    padding: 0 20px;
}
.judge-buttons button {
    border: none;
    background: none;
    margin: 0 auto;
    filter: drop-shadow(0px 2px 0.5px rgba(184, 184, 184, 0.9));
}
.form-niconico-button {
    display: none;
}
.form-damedame-button {
    display: none;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + .label-niconico-button img {
    opacity:0.2;
}
input[type="radio"]:checked + .label-niconico-button img {
    opacity:1;
    animation: jello-horizontal 1s alternate both;
}
input[type="radio"] + .label-damedame-button img {
    opacity:0.2;
}
input[type="radio"]:checked + .label-damedame-button img {
    opacity:1;
    animation: jello-horizontal 1s alternate both;
}
@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
}