@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

body {
    font-family: 'Kiwi Maru', serif;
    background-color: #F6F3EE;
    color: #453B3B;
    margin-top: 200px;
}
.ant {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
svg {
    display: block;
    margin: 0 auto;
}
.text {
    text-align: center;
    font-size: medium;
}