<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="ShiftJIS">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheets/#">
    <script src = "../scripts/movie.js" type="text/javascript" charset="shift_jis"></script>
    <title>movie page</title>
</head>
<body onload="loader();">
    <div id="content"></div>
        
    <span id="movie"></span>

    <div id="info"></div>
</body>
</html>